<h4>Системд байгаа блогууд</h4>

<div>
    <a href="/admin/pages/add"><button class="btn btn-sm btn-success">Шинэ блог үүсгэх</button></a>
</div>

<table class="table table-striped mt-3">
    <?php foreach($data['webs'] as $web):?>
    <tr>
        <td><a href="/<?=App::getRouter()->getLanguage()?>/admin/pages/view/<?=$web['alias']?>">
                <?=$web['title']?>
            </a>
        </td>
        <td align="right">
            <a href="/<?=App::getRouter()->getLanguage()?>/admin/pages/edit/<?=$web['id']?>"><button
                    class="btn btn-sm btn-primary">Засварлах</button></a>
            <a href="/<?=App::getRouter()->getLanguage()?>/admin/pages/delete/<?=$web['id']?>"
                onclick="return confirmBlogDelete()"><button class="btn btn-sm btn-warning">Устгах</button></a>
        </td>
    </tr>
    <?php endforeach ?>
</table>