.main {
  height: 10px;
  
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-position: 0%;
  background: transparent;
  font-size: 14px;
}

form {
  width: 400px;
  max-width: 400px;
}

.alert {
  width: 400px;
  max-width: 400px;
}



